
div{
    min-height: 100px;
    /* border: 1px solid black; */
  }

  .cav{
    margin-left:600px;
  }

  .log{
      padding: 0%;
  }


  .overlay{
    position:relative;
    top: 15px;

  }

  .overlay .lay h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }

   

  .overlay .lay h3 a{
    text-decoration: none;
    border: 1px solid lightgrey;
    color: white;
    padding: 15px;
  }

  .overlay .lay h3 a:hover{
    background-color:rgba(0,0,0,0.3);
    color: black;
}

  .bout p a{
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
        margin-top:10px;
  }

   .bout p a:hover{
    background-color:rgba(0,0,0,0.3);
    color: black;
   }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer h3 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  
  .footer .copyright {
    text-align: center;
    margin-top: 20px;
  }

  

  